/*  */
* {
    margin: 0;
    padding: 0;
}

/* header styling */
header {
    width: 100%;
    background-color: #162A2E;
    opacity: 0.9;
    
}

/* header container */
header div {
    width: 1280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px;
    margin-inline: auto;
}

/* logo styling */
#logo {
    color: #ffffff;
}

/* navlinks styling */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
}

.active{
    color: #ffffff;
}


section {
    width: 100%;
    min-height: 100vh;
}

section > div {
    width: 1280px;
    margin-inline: auto;
}


/* hero section styling */
#hero-section {
    min-height: 500px;
    background-color: #162A2E;
    opacity: 0.9;
}

#hero-container div {
    width: 50%;
}

#hero-info {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#hero-h2 {
    font-size: 90px;
    color: #ffffff;
}

#hero-first-p {
    color:#ffffff;
    font-size: 38px;
}

#hero-info p {
    color: #ffffff;
    font-size: 20;
    line-height: 22px;
}

/* hero hire me button styling */
.hire-btn {
    color: #ffffff;
    background-color: #087E69;
    border: 1px solid #087E69;
    border-radius: 20px;
    padding: 10px 20px;
}

/* hero portfolio button styling */
#hero-portfolio-btn {
    color: #ffffff;
    background-color: #344648;
    border: 1px solid #6F797A;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 6px;
}

/*----- biography-section ------*/
#biography-section{
    width: 100%;
    min-height: auto;
}

#biography-container {
    width: 1280px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 68px 0;
    gap: 70px;
}

#biography-image-container {
    width: 48%;
}

#biography-info-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#bio-heading{
    width: 90%;
    font-size: 30px;
}

hr {
    width: 80%;
}

#biography-info-container p {
    width: 76%;
    line-height: 20px;
}

#biography-image-container {
    display: flex;
    align-items: center;
    justify-content:end;
}

#bio-image {
    width: 400px;
    height: 550px;
    background-color: #6F797A;
    border-radius: 10px;
}

#bio-contact-info {
    display: grid;
    grid-template-rows: auto auto auto;
    list-style: none;
}

#social-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self:start;
    gap: 30px;
    margin-inline: none;
}

#bio-links-group{
    display: flex;
    gap: 10px;
}

#bio-socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bio-btn{
    width: 100%;
    display: flex;
    gap: 14px;
}

.download-btn{
    color: #ffffff;
    background-color: #13C173;
    border: 1px solid #13C173;
    border-radius: 20px;
    padding: 10px 20px;
}


/* ------------ Services-section ------------ */
#services-section {
    width: 100%;
    min-height: auto;
    background-color: #F6F6F5;
}

#service-container{
    width: 1280px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.cards-list {
    display: flex;
    gap: 16px;
}

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: #ffffff;
    padding: 24px 24px;
}

.card img {
    width: 30px;
    height: 30px;
}

.card p {
    line-height: 24px;
}

#service-container a {
    color: #087E69;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

/* footer styling */
#footer-contact-info{
    color: #ffffff;
    min-height: 160px;
    background-color: #061E24;
}

#contact-info{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#contact-info ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.social-icons-image {
    width: 20px;
    height: 20px;
}

#footer-copyright {
    min-height: 60px;
    background-color: #02191E ;
}

#copyright {
    width: 1280px;
    height: 60px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#copyright ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.social-icons img {
 width: 20px;
 height: 20px;
}

